<h1 class="title">MARIOKART TRACKER</h1>

<!-- Router -->
<nav>
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="New Race">
      <app-mainboard></app-mainboard>
    </mat-tab>
    <mat-tab label="Race History">
      <app-raceboard></app-raceboard>
    </mat-tab>
    <mat-tab label="Scoreboard">
      <app-scoreboard></app-scoreboard>
    </mat-tab>
    <mat-tab label="Player Stats">
      <app-playerboard></app-playerboard>
    </mat-tab>
    <mat-tab label="Compare Players">
      <app-compareboard></app-compareboard>
    </mat-tab>
  </mat-tab-group>
</nav>